@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: rgb(30, 30, 30)
}

p, h1, h2, h3, h4, h5, h6, a, table, tr, td, th, li {
    font-family: 'Roboto', sans-serif;
    color: white;
}
